<?xml version="1.0" encoding="utf8"?>
<!-- $Revision$ -->
<!-- EN-Revision: 297028 Maintainer: wiesemann Status: ready -->
 <sect1 xml:id="install.macosx.server" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Kompilieren für OS X Server</title>
  
  <formalpara xml:id="install.macosx.server.compile">
   <title>Mac OS X Server-Installation</title>
   <para>
    <orderedlist>
     <listitem>
      <simpara>Holen Sie sich die aktuellsten Versionen von Apache und PHP.</simpara>
     </listitem>
     <listitem>
      <para>
       Entpacken Sie diese, und starten Sie das <command>configure</command>-Programm
       für Apache.
       <programlisting role="shell">
<![CDATA[
./configure --exec-prefix=/usr \
--localstatedir=/var \
--mandir=/usr/share/man \
--libexecdir=/System/Library/Apache/Modules \
--iconsdir=/System/Library/Apache/Icons \
--includedir=/System/Library/Frameworks/Apache.framework/Versions/1.3/Headers \
--enable-shared=max \
--enable-module=most \
--target=apache
]]>
       </programlisting>
      </para>
     </listitem>
     <listitem>
      <para>
       Wenn Sie möchten, dass der Kompilierer einige Optimierungen vornimmt, können
       Sie z.B. die folgende Zeile hinzufügen:
       <programlisting role="shell">
<![CDATA[
setenv OPTIM=-O2
]]>
       </programlisting>
      </para>
     </listitem>
     <listitem>
      <para>
       Als nächstes wechseln Sie in das PHP-4-Quellverzeichnis und konfigurieren es.
       <programlisting role="shell">
<![CDATA[
./configure --prefix=/usr \
    --sysconfdir=/etc \
    --localstatedir=/var \
    --mandir=/usr/share/man \
    --with-xml \
    --with-apache=/src/apache_1.3.12
]]>
       </programlisting>
       Stellen Sie sicher, dass eventuell zusätzlich benötigte Erweiterungen
       (MySQL, GD, usw.) an dieser Stelle hinzugefügt werden. Zum Hinzufügen des
       Apaches kann die Option <option role="configure">--with-apache</option>
       mit Angabe des Pfades zu den Quelldateien, z.B.
       <filename class="directory">/src/apache_1.3.12</filename>, verwendet
       werden.
      </para>
     </listitem>
     <listitem>
      <simpara>
       Geben Sie <command>make</command> und <command>make install</command> ein. Diese
       Aufrufe fügt ein Verzeichnis <filename class="directory">src/modules/php4</filename>
       in das Apache-Quellverzeichnis ein.
      </simpara>
     </listitem>
     <listitem>
      <para>
       Jetzt muss Apache konfiguriert werden, um PHP 4 mit einzubinden.
       <programlisting role="shell">
<![CDATA[
./configure --exec-prefix=/usr \
--localstatedir=/var \
--mandir=/usr/share/man \
--libexecdir=/System/Library/Apache/Modules \
--iconsdir=/System/Library/Apache/Icons \
--includedir=/System/Library/Frameworks/Apache.framework/Versions/1.3/Headers \
--enable-shared=max \
--enable-module=most \
--target=apache \
--activate-module=src/modules/php4/libphp4.a
]]>
       </programlisting>
       Es kann sein, dass Sie eine Meldung erhalten, dass <filename>libmodphp4.a</filename>
       veraltet ist. In diesem Fall sollten Sie im Apache-Quellverzeichnis in
       das Verzeichnis <filename class="directory">src/modules/php4</filename> 
       wechseln und den folgenden Befehl aufrufen: <command>ranlib libmodphp4.a</command>. 
       Danach gehen Sie zurück ins Wurzelverzeichnis des Apache-Quellverzeichnisses
       und starten erneut den <command>configure</command>-Aufruf, um die
       Verlinkungstabelle auf den aktuellen Stand zu bringen. Rufen Sie jetzt
       <command>make</command> und <command>make install</command> erneut auf.
      </para>
     </listitem>
     <listitem>
      <simpara>
       Kopieren sie die Datei <filename>php.ini-development</filename> aus Ihrem
       PHP-4-Quellverzeichnis unter <filename class="directory">bin</filename>
       und benennen Sie diese um:
       <userinput>cp php.ini-development /usr/local/bin/php.ini</userinput>
       oder (wenn Sie kein local-Verzeichnis haben)
       <userinput>cp php.ini-development /usr/bin/php.ini</userinput>.
      </simpara>
     </listitem>
    </orderedlist>
   </para>
  </formalpara>
  <!--
  <simpara>
  TODO: Someone with Mac OS X skills needs to improve this DOC
        Also, these links are 404 and outdated anyways and
        stepwise doesn't support PHP anymore.

        See also bug #14732

   Other examples for
   <link xlink:href="&url.stepwise.macosx-client;">Mac OS X client</link>
   and
   <link xlink:href="&url.stepwise.macosx-client;">Mac OS X server</link>
   are available at <link xlink:href="&url.stepwise;">Stepwise</link>.
  </simpara>
  -->
 </sect1>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
