<?xml version="1.0" encoding="iso-8859-1"?>
 <chapter id="configuration">
  <title>Konfiguration</title>

  <sect1 id="configuration.file">
   <title>Die Konfigurationsdatei</title>

   <simpara>
    Die Konfigurationsdatei (<filename>php3.ini</filename> in
    PHP 3.0.x, und <filename>php.ini</filename> in PHP 4.0) wird geladen,
    wenn PHP gestartet wird. Wurde PHP als Modul in den Webserver
    einkompiliert, dann geschieht dies nur, wenn der Server gestartet
    wird. Ist PHP als <acronym>CGI</acronym>-Version konfiguriert worden,
    geschieht es bei jedem Aufruf.
   </simpara>

   <simpara>
    Wenn Sie PHP in der Modul-Variante benutzen, können Sie die
    Konfigurationseinstellungen auch mittels der Apache-Konfigurations-
    datei bzw. mittels .htaccess-Dateien ändern.</simpara>

   <simpara>
    Bei PHP 3.0.x existieren Apache-Anweisungen, die mit jeder
    Konfigurationseinstellung der <filename>php3.ini</filename> 
    korrespondieren, ausgenommen Einstellungen mit dem Prefix
    "php3_".</simpara>

   <para>
    Bei PHP 4.0 gibt es nur noch wenige Apache-Anweisungen, die es
    Ihnen erlauben, die Konfigurationseinstellungen zu ändern.
    <variablelist>
     <varlistentry>
      <term>
       <systemitem role="directive">php_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
        Dieses setzt den Wert der spezifizierten Variablen.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
        Dieser Schalter wird benutzt, um die Boolean-Konfigurations-
	Option zu aktivieren.</para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
        Dieser Wert setzt den Wert der spezifischen Variablen.
	"Admin"-Konfigurationseinstellungen können nur innerhalb
	der Haupt-Konfigurationsdatei des Apache gesetzt werden,
	nicht etwa über eine .htaccess Datei.</para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
        Dieser Schalter wird benutzt, um die Boolean-Konfigurations-Option
	zu aktivieren. ("Admin")</para>
      </listitem>
     </varlistentry>
    </variablelist></para>

   <simpara>
    Die Konfigurationseinstellungen können Sie in der Ausgabe der
    <function>phpinfo</function> Datei einsehen. Ebenfalls können Sie
    Zugang zu den individuellen Konfigurationseinstellungen über
    <function>get_cfg_var</function> bekommen.</simpara>
   
   <sect2 id="ini.sect.general">
    <title>Allgemeine Konfigurationseinstellungen</title>
    <para>
     <variablelist>
	  
	  <varlistentry id="ini.asp-tags">
	   <term>
		<parameter>asp_tags</parameter>
		<type>boolean</type>
	   </term>
	   <listitem>
		<simpara>
		 Dieser Schalter aktiviert die Unterstützung von ASP
		 &lt;% %&gt; Tags als Erweiterung zu den üblichen &lt;?php ?&gt; Tags.
		 Dieses beinhaltet auch die Kurzform der Variablenausgabe
		 &lt;%= $value %&gt;. Weitere Informationen finden Sie hier:
		 <link linkend="language.basic-syntax.phpmode">Escaping from HTML</link>.
		</simpara>

		<note>
		 <para>Die Unterstützung für ASP-Tags wurde in Version 3.0.4
		 hinzugefügt.</para>
		</note>

	   </listitem>
	  </varlistentry>
      
      <varlistentry id="ini.auto-append-file">
       <term>
	<parameter>auto_append_file</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Hier können Sie eine Datei angeben, die automatisch nach der 
	 Haupt-Datei aufgerufen wird. Die Datei wird in die aufgerufene
	 Datei eingebettet, als wenn Sie sie mittels der
	 <function>include</function> Funktion eingebunden hätten, dabei
	 wird ein gesetzter 
	 <link linkend="ini.include-path">include_path</link> beachtet.</para>
	<para>
	 Der Wert <systemitem class="constant">none</systemitem> deaktiviert auto-appending.
	 <note>
	  <simpara>
	   Wird das Skript mit der Funktion <function>exit</function>beendet,
	   wird auto-append <emphasis>nicht</emphasis> aktiv.</simpara>
	 </note></para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.auto-prepend-file">
       <term>
	<parameter>auto_prepend_file</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Hier können Sie eine Datei angeben, die automatisch vor der
	 Hauptdatei aufgerufen wird. Die Datei wird in die aufgerufene
	 Datei eingebettet, als wenn Sie sie mittels der
	 <function>include</function> Funktion eingebunden hätten, dabei
	 wird ein gesetzter 
	 <link linkend="ini.include-path">include_path</link> beachtet.</para>
	<para>
	 Der Wert <systemitem class="constant">none</systemitem> deaktiviert auto-prepending.</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.cgi-ext">
       <term>
	<parameter>cgi_ext</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.display-errors">
       <term>
	<parameter>display_errors</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Dieser Wert muß "<systemitem class="constant">on</systemitem>" sein, damit Fehlermeldungen an die Konsole
	 (Prompt oder Browser) gesendet werden können.
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.doc-root">
       <term>
	<parameter>doc_root</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Hier wird das Stammverzeichnis der PHP-Skripte eingegeben. Üblicherweise
	 handelt es sich hier um das DocumentRoot des Servers (Apache: <filename>htdocs</filename>)
	 Diese Angabe wird nur benutzt, wenn sie einen Wert enthält. Wenn PHP
	 mit <link linkend="ini.safe-mode">safe mode</link> konfiguriert wurde,
	 werden alle PHP-Skripte außerhalb dieses Directorys ignoriert.
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.engine">
       <term>
	<parameter>engine</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Diese Option ist in erster Linie nur sinnvoll, wenn PHP als
	 Modul in den Apache einkompiliert wurde. Sie wird von Seiten benutzt,
	 die den PHP-Parser für bestimmte Verzeichnisse oder virtuelle
	 Server aus- bzw. einschalten wollen. Wenn Sie
	 <userinput>engine off</userinput> in den dafür vorgesehenen
	 Blöcken in der <filename>httpd.conf</filename> Datei benutzen, kann
	 PHP aktiviert bzw. deaktiviert werden.
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.error-log">
       <term>
	<parameter>error_log</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Hier können Sie die Datei angeben, in der Skript-Fehler protokolliert
	 werden sollen. Wenn Sie statt eines Dateinamens <literal>syslog</literal>
	 eintragen, wird stattdessen das Ereignisprotokoll von WindowsNT genutzt.
	 Auf UNIX Systemen syslog(3) verwendet. Windows 95/98 unterstützen dieses
	 nicht.</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.error-reporting">
       <term>
	<parameter>error_reporting</parameter>
	<type>integer</type>
       </term>
       <listitem>
	<para>
	 Hier können Sie die Genauigkeit der Fehlermeldungen einstellen.
	 Der eingetragene Wert ist ein Bitwert, und wird als Summe 
	 folgender Werte des Error Reporting Levels gebildet:
	 <table>
	  <title>Error Reporting Levels</title>
	  <tgroup cols="2">
	   <thead>
	    <row>
	     <entry>bit value</entry>
	     <entry>Aktivierte Protokollierung</entry>
	    </row>
	   </thead>
	   <tbody>
	    <row>
	     <entry>1</entry>
	     <entry>Normale Fehler</entry>
	    </row>
	    <row>
	     <entry>2</entry>
	     <entry>Normale Warnungen</entry>
	    </row>
	    <row>
	     <entry>4</entry>
	     <entry>Fehler des Parsers, meistens Syntaxfehler</entry>
	    </row>
	    <row>
	     <entry>8</entry>
	     <entry>Unkritische Warnungen, die ignoriert werden können. Sinnvoll in
	     der Entwicklungsphase.</entry>
	    </row>
	   </tbody>
	  </tgroup>
	 </table>
	 Standardwert ist hier 7 (normale Fehler, normale Warnungen,
	 Fehler des Parsers werden angezeigt).
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.open-basedir">
       <term>
	<parameter>open_basedir</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Beschränkt die Dateien, die von PHP geöffnet werden können, auf Dateien im
	 angegebenen Verzeichnisbaum.
	</para>
	<para>
	 Wenn ein Skript versucht, eine Datei mit z.B. fopen oder gzopen
	 zu öffnen, wird der Ort der Datei überprüft. Wenn sich die Datei
	 außerhalb des spezifizierten Verzeichnisses befindet, wird PHP
	 sie nicht öffnen. Alle symbolischen Links sind hier mit
	 eingeschlossen, so dass es auch nicht möglich ist, dieses Verbot
	 mittels symlink zu umgehen.
	</para>
	<para>
	 Der Wert <systemitem class="constant">.</systemitem> gibt an, dass
	 das Verzeichnis, in dem das Skript abgespeichert ist, als 
	 Basis-Verzeichnis genutzt wird.
	</para>
	<para>
	 Unter Windows werden Verzeichnisse mit Semikolon getrennt, unter 
	 allen anderen Betriebssystemen mit einem Doppelpunkt. Wenn PHP
	 als Modul in den Apache einkompiliert wurde, werden open_basedir paths
	 von "Eltern"-Verzeichnissen nun automatisch vererbt.
	</para>
        <note>
         <para>Die Unterstützung für multiple Verzeichnisse wurde in
	 Version 3.0.7 hinzugefügt.</para>
        </note>
	<para>
	 Die Standardeinstellung ist, alle Dateien zum Parsen freizugeben.
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.gpc-order">
       <term>
	<parameter>gpc_order</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Legt die Auswertungsreihenfolge für GET/POST/COOKIE Variablen fest.
	 Die Standardeinstellung ist GPC. Wenn Sie diesen Wert auf z.B."GP"
	 setzen, ignoriert PHP Cookies, und wird jede GET Methoden Variable
	 mit POST Methoden Variablen des gleichen Namens überschreiben.
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.ignore-user-abort">
       <term>
	<parameter>ignore_user_abort</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Standardmäßig auf ON. Wenn Sie diese Einstellung auf OFF setzen,
	 werden PHP-Skripte beendet, sobald sie versuchen, eine Ausgabe 
	 zu erzeugen, nachdem der Client die Verbindung beendet hat.
	 <function>ignore_user_abort</function>.
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.include-path">
       <term>
	<parameter>include_path</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Hier können Sie ein Verzeichnis angeben, in dem die 
	 <function>require</function>, <function>include</function>
	 und <function>fopen_with_path</function> Funktionen nach
	 Dateien suchen. Das Format ist ähnlich der <envar>PATH</envar>
	 Umgebungsvariablen des jeweiligen Systems: Eine Liste von
	 Verzeichnissen, getrennt durch einen Doppelpunkt bei UNIX
	 oder ein Semikolon bei WINDOWS.
	 <example>
	  <title>UNIX include_path</title>
	  <programlisting role="php3.ini">
include_path=.:/home/httpd/php-lib
</programlisting>
	 </example>
	 <example>
	  <title>Windows include_path</title>
	  <programlisting role="php3.ini">
include_path=".;c:\www\phplib"
</programlisting>
	 </example>
	 Der Standardwert für diese Option ist <literal>.</literal>
	 (nur das aktuelle Verzeichnis).</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.isapi-ext">
       <term>
	<parameter>isapi_ext</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.log-errors">
       <term>
	<parameter>log_errors</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Dieser Schalter entscheidet, ob Skript-Fehler im Fehler-Logfile
	 des Servers protokolliert werden sollen. Diese Option ist also
	 Server-spezifisch.</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.magic-quotes-gpc">
       <term>
	<parameter>magic_quotes_gpc</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Dieser Schalter setzt den magic_quotes-Zustand für GPC (GET/POST/COOKIE)
	 -Operationen. Wenn magic_quotes auf ON steht, werden automatisch alle
	 ' (single-quote), &quot; (double quote), \ (backslash) und  NUL's
	 mit einem Backslash versehen. Wenn auch magic_quotes_sybase auf ON
	 steht, wird ein single-quote mit einem weiteren single-quote anstatt 
	 eines Backslashs versehen.
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.magic-quotes-runtime">
       <term>
	<parameter>magic_quotes_runtime</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Wenn der Schalter <parameter>magic_quotes_runtime</parameter>aktiviert ist,
	 werden Anführungszeichen der meisten Funktionen, welche Daten aus jeglicher Art
	 von externer Quelle, eingeschlossen Datenbanken und Textdateien, zurückgeben,
	 mit einem Backslash versehen.
	 Wenn auch der Schalter <parameter>magic_quotes_sybase</parameter> aktiviert ist,
	 wird ein einfaches Anführungszeichen mit einem einfachen Anführungszeichen
	 anstatt eines Backslashes versehen.
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.magic-quotes-sybase">
       <term>
	<parameter>magic_quotes_sybase</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Wenn der Schalter <parameter>magic_quotes_sybase</parameter>zusätzlich 
	 zu <parameter>magic_quotes_gpc</parameter> oder <parameter>magic_quotes_runtime
	 </parameter> aktiviert ist, werden einfache Anführungszeichen mit einfachen
	 Anführungszeichen anstatt eines Backslashs versehen.
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.max-execution-time">
       <term>
	<parameter>max_execution_time</parameter>
	<type>integer</type>
       </term>
       <listitem>
	<para>
	 Dieser Wert gibt die maximale Ausführungslänge eines Skriptes
	 in Sekunden an, bevor es vom Parser abgebrochen wird.
	 Dieses soll Abstürzen des Servers durch schlecht geschriebene oder
	 falsche Skripte vorbeugen. Bei komplexen Datenbankabfragen
	 sollte man jedoch bedenken, dass der Standardwert unter Umständen
	 zu klein sein kann.
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.memory-limit">
       <term>
	<parameter>memory_limit</parameter>
	<type>integer</type>
       </term>
       <listitem>
	<para>
	 Dieser Wert gibt den maximal erlaubten Speicherplatzverbrauch eines
	 PHP-Skriptes an. Diese Einstellung soll den Server vor Speicherverschwendung
	 durch schlecht programmierte Skripte bewahren.
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.nsapi-ext">
       <term>
	<parameter>nsapi_ext</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.register-globals">
		 <term>
        <parameter>register_globals</parameter>
        <type>boolean</type>
       </term>
       <listitem>		 
        <para>
         Dieser Schalter bestimmt, ob die EGPCS-Variablen (Environment, GET,
         POST, Cookie, Server) als globale Variablen registriert werden oder
         nicht. Sie sollten dies ausschalten, wenn der globale Bereich Ihrer
         Skripte nicht durch Benutzerdaten gestört werden soll.
         Diese Einstellung ist insbesondere dann sinnvoll, wenn sie mit
         <link
         linkend="ini.track-vars">track_vars</link> verwendet wird. In diesem
         Fall kÖnnen alle EGPCS-Variablen durch
         <varname>$HTTP_ENV_VARS</varname>,
         <varname>$HTTP_GET_VARS</varname>,
         <varname>$HTTP_POST_VARS</varname>,
         <varname>$HTTP_COOKIE_VARS</varname> und
         <varname>$HTTP_SERVER_VARS</varname>
         angespochen werden.
        </para>
	   </listitem>
      </varlistentry>
		
      <varlistentry id="ini.short-open-tag">
       <term>
	<parameter>short_open_tag</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Gibt an, ob die Kurzform (<userinput>&lt;? ?&gt;</userinput> eines
	 öffnenden PHP-Tags erlaubt ist. Wenn Sie PHP in Kombination mit
	 XML nutzen, müssen Sie diese Option deaktivieren. Wenn Sie die
	 Option deaktiviert haben, müssen Sie die Langform des öffnenden
	 Tags (<userinput>&lt;?php ?&gt;</userinput>)verwenden.</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.sql.safe-mode">
       <term>
	<parameter>sql.safe_mode</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.track-errors">
       <term>
	<parameter>track_errors</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Wenn diese Option aktiviert ist, wird der letzte Fehler immer
	 in der globalen Variablen <symbol>$php_errormsg</symbol> abgelegt.
	 </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.track-vars">
       <term>
	<parameter>track_vars</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Wenn dieser Schalter aktiviert ist, werden GET-, POST- und Cookie-Werte
	 in den Umgebungsvariablen-Arrays <symbol>$HTTP_GET_VARS</symbol>,
	 <symbol>$HTTP_POST_VARS</symbol> und <symbol>$HTTP_COOKIE_VARS</symbol>
	 abgelegt.</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.upload-tmp-dir">
       <term>
	<parameter>upload_tmp_dir</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Hier wird das temporäre Verzeichnis angegeben, in welchem 
	 Dateien gespeichert werden, die mittels file upload auf
	 den Server geladen werden. Dieses Verzeichnis muss schreibbar
	 sein.</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.user-dir">
       <term>
	<parameter>user_dir</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Wenn Sie PHP für User hosten, dann können persönliche Verzeichnisse
	 der Art ~username angelegt werden. Der Wert user_dir zeigt auf
	 das Stammverzeichnis, unter dem diese Nutzerverzeichnisse liegen.
	 z.B. <literal>public_html</literal>.</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.warn-plus-overloading">
       <term>
	<parameter>warn_plus_overloading</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	 Wenn dieser Schalter aktiviert ist, gibt PHP eine Warnung aus,
	 wenn der Plus-Operator (<literal>+</literal>) anstatt des 
	 Punkt-Operators (<literal>.</literal>) für die
	 String-Verkettung benutzt wurde.
	</para>
       </listitem>
      </varlistentry>

     </variablelist>
    </para>
   </sect2>

   <sect2 id="ini.sect.mail">
    <title>Mail-Konfigurationsdirektiven</title>
    <variablelist>

     <varlistentry id="ini.smtp">
      <term>
       <parameter>SMTP</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Dieser Wert muss nur in der Windows-Umgebung gesetzt werden.
	Hier wird der DNS-Name oder die IP-Adresse des SMTP-Servers
	eingetragen, über den Mails mit der Funktion <function>mail</function>
	verschickt werden sollen.</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.sendmail-from">
      <term>
       <parameter>sendmail_from</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Hier können Sie den Absender der Emails eintragen, wenn Sie
	von Windows aus Emails verschicken wollen.</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.sendmail-path">
      <term>
       <parameter>sendmail_path</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Hier geben Sie den Pfad zum <command>sendmail</command> Programm
	an. Für gewöhnlich ist dies <filename>/usr/sbin/sendmail</filename>
	oder <filename>/usr/lib/sendmail</filename>.
	<command>configure</command> versucht zwar den Pfad zum sendmail
	Programm selbstständig herauszufinden, aber für den Fall, dass
	dieses nicht funktioniert, können Sie den Pfad hier eintragen.
	</para>
       <para>
        Auf Systemen, wo Sendmail nicht benutzt wird, sollten Sie
	diesen Pfad auf den Sendmail-Ersatz -wenn vorhanden- setzen.
 	Zum Beispiel: <ulink url="&url.qmail;">Qmail</ulink>-Benutzer
	können den Pfad normalerweise wie folgt setzen:
	<filename>/var/qmail/bin/sendmail</filename>.</para>
      </listitem>
     </varlistentry>

    </variablelist>
   </sect2>

   <sect2 id="ini.sect.safe-mode">
    <title>Safe Mode-Konfigurationsdirektiven</title>
    <variablelist>

     <varlistentry id="ini.safe-mode">
      <term>
       <parameter>safe_mode</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Wenn Sie diesen Schalter auf ON setzen, betreiben Sie PHP im
	sicheren Modus. Mehr dazu erfahren Sie im
	<link linkend="security">Kapitel Sicherheit</link>
	</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.safe-mode-exec-dir">
      <term>
       <parameter>safe_mode_exec_dir</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Wenn Sie PHP im sicheren Modus betreiben, werden die Funktion 
	<function>system</function> und andere Funktionen, die Systemprogramme ausführen,
	nicht gestartet, wenn Sie sich nicht in diesem Verzeichnis befinden.
	</para>
      </listitem>
     </varlistentry>

    </variablelist>
   </sect2>

   <sect2 id="ini.sect.debugger">
    <title>Debugger-Konfigurationsdirektiven</title>
    <variablelist>

     <varlistentry id="ini.debugger.host">
      <term>
       <parameter>debugger.host</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        DNS-Name oder IP-Adresse des Hosts, der vom Debugger benutzt wird.</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.debugger.port">
      <term>
       <parameter>debugger.port</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Portnummer, die vom Debugger benutzt wird.</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.debugger.enabled">
      <term>
       <parameter>debugger.enabled</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Hier können Sie den Debugger aktivieren bzw. deaktivieren.</para>
      </listitem>
     </varlistentry>

    </variablelist>
   </sect2>

   <sect2 id="ini.sect.extension">
    <title>Extension Loading-Direktiven</title>
    <variablelist>
     
     <varlistentry id="ini.enable-dl">
      <term>
	<parameter>enable_dl</parameter>
	<type>boolean</type>
      </term>
      <listitem>
	<para>
	 Diese Option ist eigentlich nur sinnvoll, wenn Sie PHP als
	 Apache-Modul benutzen. Dann können Sie das "Einladen" der
	 dynamischen PHP-Extensionen mit der Funktion <function>dl</function>
	 für einzelne virtuelle Server oder Verzeichnisse aktivieren bzw. deaktivieren.
	</para>
	<para>
	 Der Hauptgrund, das dynamische Laden von Extensionen zu
	 deaktivieren, ist Sicherheit. Wenn die Option aktiviert ist,
	 ist es möglich, Restriktionen durch safe_mode und open_basedir
	 zu umgehen.
	</para>
	<para>
	 Standardmäßig wird das dynamische Laden erlaubt, außer wenn
	 Sie PHP im safe_mode betreiben. Im safe_mode ist es nie
	 möglich, die Funktion <function>dl</function> zu benutzen.
	</para>
      </listitem>
     </varlistentry>
      
     <varlistentry id="ini.extension-dir">
      <term>
       <parameter>extension_dir</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Hier geben Sie das Verzeichnis an, in dem PHP dynamisch zu ladende
	Extensionen findet.
	</para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.extension">
      <term>
       <parameter>extension</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Hier geben Sie an, welche Extensionen geladen werden sollen, wenn
	PHP gestartet wird.
	</para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.mysql">
    <title>MySQL-Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.mysql.allow-persistent">
      <term>
       <parameter>mysql.allow_persistent</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
                Erlaubt persistente Verbindungen.</para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.default-host">
      <term>
       <parameter>mysql.default_host</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
                Hier wird der Host (Computername) des Computers eingetragen,
		auf dem MySQL installiert ist (wird benutzt, falls kein anderer
		Name angegeben wird).
	 </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.default-user">
      <term>
       <parameter>mysql.default_user</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	        Hier wird der Name des Standardbenutzers eingegeben (wird benutzt,
		falls kein anderer Name angegeben wird).
		</para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.default-password">
      <term>
       <parameter>mysql.default_password</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
                Hier wird das Standardpasswort eingegeben (wird benutzt, falls
		kein anderes Passwort angegeben wurde).
	</para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.max-persistent">
      <term>
       <parameter>mysql.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximal erlaubte Anzahl persistenter
		MySQL-Verbindungen pro Prozess an. 
	 </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.max-links">
      <term>
       <parameter>mysql.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
	        Hier geben Sie die maximale Anzahl der Verbindungen
		pro Prozess an (persistente und normale).
		
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.msql">
    <title>mSQL-Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.msql.allow-persistent">
      <term>
       <parameter>msql.allow_persistent</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
                Erlaubt persistente mSQL-Verbindungen.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.msql.max-persistent">
      <term>
       <parameter>msql.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximal erlaubte Anzahl persistenter
		mSQL-Verbindungen pro Prozess an.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.msql.max-links">
      <term>
       <parameter>msql.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
	        Hier geben Sie die maximale Anzahl der Verbindungen
		pro Prozess an (persistente und normale).
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.pgsql">
    <title>PostgreSQL-Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.pgsql.allow-persistent">
      <term>
       <parameter>pgsql.allow_persistent</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
                Erlaubt persistente PostgreSQL-Verbindungen.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.pgsql.max-persistent">
      <term>
       <parameter>pgsql.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximal erlaubte Anzahl persistenter
		PostgreSQL-Verbindungen pro Prozess an.
	
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.pgsql.max-links">
      <term>
       <parameter>pgsql.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximale Anzahl der Verbindungen
		pro Prozess an (persistente und normale).
	
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.sesam">
    <title>SESAM Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.sesam-oml">
      <term>
       <parameter>sesam_oml</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	Name der BS2000 PLAM-Bibliothek, die die ladbaren SESAM
	Treibermodule enthält.  Diese Direktive ist obligatorisch,
	anderenfalls wird die SESAM Funktionalität deaktiviert.
	SESAM functions. Die angegebene BS2000 PLAM-Bibliothek
	muss durch Setzen von ACCESS=READ,SHARE=YES lesbar gemacht
	werden, da unter der Apache Server User-Id auf sie
	zugegriffen wird.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sesam-configfile">
      <term>
       <parameter>sesam_configfile</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Name der SESAM Applikations-Konfigurationsdatei.  Diese
	Direktive ist obligatorisch, anderenfalls wird die SESAM
	Funktionalität deaktiviert. Die angegebene BS2000-Datei
	muss für die Apache Server-Kennung lesbar sein.
       </para>
       <para>
        Gewöhnlich enthält die Applikations-Konfigurationsdatei
	Konfigurationsbefehle wie (siehe SESAM Referenzhandbuch):
        <informalexample>
         <programlisting role="bs2000">
CNF=B
NAM=K
NOTYPE</programlisting>
        </informalexample>
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sesam-messagecatalog">
      <term>
       <parameter>sesam_messagecatalog</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	Name der SESAM Message-Katalogdatei.  In den meisten Fällen ist
	die Angabe dieser Datei überflüssig; lediglich wenn die
	Message-Katalogdatei nicht in der BS2000 Messagedatei-Tabelle
	eingetragen ist, kann sie explizit mit dieser Direktive
	gesetzt werden.
       </para>
       <para>
	Die angegebene BS2000 Message-Katalogdatei
	muss durch Setzen von ACCESS=READ,SHARE=YES lesbar gemacht
	werden, da unter der Apache Server User-Id auf sie
	zugegriffen wird.
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>


   <sect2 id="ini.sect.sybase">
    <title>Sybase-Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.sybase.allow-persistent">
      <term>
       <parameter>sybase.allow_persistent</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
                Erlaubt persistente Sybase-Verbindungen.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybase.max-persistent">
      <term>
       <parameter>sybase.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximal erlaubte Anzahl persistenter
		Sybase-Verbindungen pro Prozess an.
	
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybase.max-links">
      <term>
       <parameter>sybase.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
	        Hier geben Sie die maximale Anzahl der Verbindungen
		pro Prozess an (persistente und normale).
	
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.sybct">
    <title>Sybase-CT-Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.sybct.allow-persistent">
      <term>
       <parameter>sybct.allow_persistent</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Erlaubt persistente Sybase-CT Verbindungen.
	Standardwert ist ON.
	
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.max-persistent">
      <term>
       <parameter>sybct.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximal erlaubte Anzahl persistenter
		Sybase-Verbindungen pro Prozess an. Der Standardwert
		ist -1 (unbegrenzt).
        
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.max-links">
      <term>
       <parameter>sybct.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximale Anzahl der Verbindungen
		pro Prozess an (persistente und normale). Standardwert
		ist -1 (unbegrenzt).
	
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.min-server-severity">
      <term>
       <parameter>sybct.min_server_severity</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
        Server-Meldungen mit höherem oder gleichem Gewicht
	als sybct.min_server_severity werden als Warnung ausgegeben.
	Dieser Wert kann auch in einem Skript mittels der 
	<function>sybase_min_server_severity</function> Funktion
	gesetzt werden. Standardwert ist 10, wodurch Fehler mit
	Informations-"Gewicht" oder höher ausgegeben werden.

       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.min-client-severity">
      <term>
       <parameter>sybct.min_client_severity</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
        Meldungen der Client-Library mit höherem oder gleichem Gewicht
	als sybct.min_client_severity werden als Warnungen ausgegeben.
	Dieser Wert kann auch in einem Skript mit der Funktion
        <function>sybase_min_client_severity</function> gesetzt werden.
	Der Standardwert ist hier 10, was eine Ausgabe im Endeffekt
	deaktiviert.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.login-timeout">
      <term>
       <parameter>sybct.login_timeout</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
        Hier können Sie die maximale Zeit in Sekunden angeben, die
	gewartet wird, bis eine Verbindung erfolgreich aufgebaut wurde
	(also bevor eine Fehlermeldung erscheint). 
	Beachten Sie, dass wenn die max_execution_time für einen
	Verbindungsversuch vorbei ist, Ihr Skript beendet wird, bevor
	es eine Fehlermeldung (oder andere Aktion) ausgeben kann. Der
	Standardwert ist hier 1 Minute.
        
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.timeout">
      <term>
       <parameter>sybct.timeout</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
        Hier können Sie die maximale Zeit in Sekunden angeben, die auf
	eine select_db oder andere DB-Query gewartet wird,
	bis eine Fehlermeldung erscheint.
	Beachten Sie, dass wenn die max_execution_time für eine
	DB-Query vorbei ist, Ihr Skript beendet wird, bevor
	es eine Fehlermeldung (oder andere Aktion) ausgeben kann. Der
	Standardwert ist hier unbegrenzt.
        
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.hostname">
      <term>
       <parameter>sybct.hostname</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Hier können Sie den Host angeben, von dem die Verbindung
	ausgehen soll. Sie können diesen Wert mit sp_who anzeigen.
	Standardwert ist none.
       
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.informix">
    <title>Informix-Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.ifx.allow-persistent">
      <term>
       <parameter>ifx.allow_persistent</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Erlaubt persistente Informix-Verbindungen.
        
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.ifx.max-persistent">
      <term>
       <parameter>ifx.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximal erlaubte Anzahl persistenter
		Informix-Verbindungen pro Prozess an.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.ifx.max-links">
      <term>
       <parameter>ifx.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximale Anzahl der Verbindungen
		pro Prozess an (persistente und normale).
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.default-host">
      <term>
       <parameter>ifx.default_host</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Hier geben Sie den Standardhost für eine Verbindung ein,
	der benutzt wird, wenn kein anderer Host in <function>ifx_connect</function> oder 
        <function>ifx_pconnect</function> angegeben wurde.
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.default-user">
      <term>
       <parameter>ifx.default_user</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Hier geben Sie den Standardbenutzer für eine Verbindung
	ein, der benutzt wird,  wenn kein anderer Benutzer in 
	<function>ifx_connect</function> oder <function>ifx_pconnect</function>
	angegeben wurde.
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.default-password">
      <term>
       <parameter>ifx.default_password</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Hier geben Sie das Standardpasswort für eine Verbindung
	ein, das benutzt wird, wenn kein anderes Passwort in 
	<function>ifx_connect</function> oder <function>ifx_pconnect</function>
	angegeben wurde.
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.blobinfile">
      <term>
       <parameter>ifx.blobinfile</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Setzen Sie diesen Wert auf &true;, wenn Sie BLOB-Felder
	in einer Datei zurückgegeben haben wollen, auf &false;,
	wenn Sie sie im Speicher haben wollen. Diesen Eintrag
	können Sie mit <function>ifx_blobinfile_mode</function>
	während der Ausführung überschreiben.
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.textasvarchar">
      <term>
       <parameter>ifx.textasvarchar</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Setzen Sie diesen Wert auf &true;, wenn Sie TEXT-Felder
	als normale Strings in SELECT-Anweisungen zurückgegeben
	haben wollen, auf &false;, wenn Sie sie BLOB-ID Parameter
	benutzen wollen. Diesen Eintrag können Sie mit <function>ifx_textasvarchar</function>
	während der Ausführung überschreiben.
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.byteasvarchar">
      <term>
       <parameter>ifx.byteasvarchar</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Setzen Sie diesen Wert auf &true;, wenn Sie BYTE-Felder
	in SELECT-Abfragen als normale Strings zurückgeliefert
	haben wollen, auf &false;, wenn Sie BLOB-ID Parameter
	benutzen wollen. Diesen Eintrag können Sie mit <function>ifx_textasvarchar</function>
	während der Ausführung überschreiben.
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.charasvarchar">
      <term>
       <parameter>ifx.charasvarchar</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Setzen Sie diesen Wert auf &true;, wenn Sie nachfolgende
	Spaces von CHAR-Feldern bei der Abfrage abschneiden wollen.
       
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.nullformat">
      <term>
       <parameter>ifx.nullformat</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Setzen Sie diesen Wert auf &true;, wenn Sie NULL-Felder
	als String "&null;", bzw. auf &false;, wenn Sie diese als
	leeren String "" zurückgeliefert haben wollen. Sie
	können diesen Wert während der Ausführung mit der 
	Funktion <function>ifx_nullformat</function> überschreiben.
       </para>
      </listitem>
     </varlistentry>


    </variablelist>
   </sect2>

   <sect2 id="ini.sect.bcmath">
    <title>BC Math-Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.bcmath.scale">
      <term>
       <parameter>bcmath.scale</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
        Anzahl der Nachkommastellen der bcmath-Funktionen.
	
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.browscap">
    <title>Browser Capability-Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.browscap">
      <term>
       <parameter>browscap</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	        Name der browser_capabilities-Datei. Mehr hierüber
		erfahren Sie unter <function>get_browser</function>.
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.uodbc">
    <title>Unified ODBC-Konfigurationsdirektiven</title>
    <variablelist>
     
     <varlistentry id="ini.uodbc.default-db">
      <term>
       <parameter>uodbc.default_db</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        ODBC Standarddatenquelle, die benutzt wird, wenn keine
	andere in <function>odbc_connect</function> oder
	<function>odbc_pconnect</function> angegeben wurde.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.default-user">
      <term>
       <parameter>uodbc.default_user</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        ODBC Standard-Benutzername, der benutzt wird, wenn
	kein anderer Benutzer in <function>odbc_connect</function>
	oder <function>odbc_pconnect</function> definiert wurde.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.default-pw">
      <term>
       <parameter>uodbc.default_pw</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        ODBC Standardpasswort, das benutzt wird, wenn 
	kein anderes Passwort in <function>odbc_connect</function> oder
	<function>odbc_pconnect</function> angegeben wurde.
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.allow-persistent">
      <term>
       <parameter>uodbc.allow_persistent</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
        Erlaubt persistente ODBC-Verbindungen.
	
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.max-persistent">
      <term>
       <parameter>uodbc.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
	        Hier geben Sie die maximal erlaubte Anzahl persistenter
		ODBC-Verbindungen pro Prozess an.
	
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.max-links">
      <term>
       <parameter>uodbc.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
                Hier geben Sie die maximal erlaubte Anzahl der 
		ODBC-Verbindungen pro Prozess an (persistente und normale).
	
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

  </sect1>

 </chapter>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
sgml-parent-document:nil
sgml-default-dtd-file:"../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
-->
